#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* Ensures the container takes at least the full height of the viewport */
}
#title { 
	background-color: blue;
	color: white;
}

#search-container {
	display: flex;
	align-items: center;
	/* Vertically center items within the container */
	justify-content: center;
	/* Horizontally center items within the container */
	background-color: #f1f1f1;
	padding: 20px;
}

#city-input {
	/* Your input styles */
	flex: 1;
	/* Makes the input take up available space */
	/* ... (other input styles) ... */
}

#search-button {
	/* Your button styles */
	
	/* ... (button styles) ... */
}

#weather-card {
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}